body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.report-card {
  margin: 25px;
  transition: all .2s ease-in-out !important;
  padding: 10px;
}

.graph-card {
  margin: 25px;
  padding: 10px;
  height: 50vh;
}

.report-card:hover {
  transform: scale(1.02);
  -moz-box-shadow:    2px 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px 2px #ccc;
  box-shadow:         2px 2px 2px 2px #ccc;
}

.user-name {
   display:table-cell;
   vertical-align:middle;
   text-align: center;
   padding-left: 10px;
}

.main-panel {
  background-color: #F7F7F7;
  margin-left: 17vw;
  min-height: 100vh;
}


.avatar-name {
  display:table;
  margin: 0 auto;
  font-size: 2rem;
  padding: 10px;
  color: #555555;
}

.App {
  text-align: center;
}

.avatar {
  margin: 0 auto;
}
.login-form {
  width: 25%;
}

.username-select {
  margin-bottom: 20px;
  text-align: left;
}

.paper {
  margin-top: 25vh;
}

.left-panel {
  background-color: #FFFFFF;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #555555;
  width: 17vw;
  -moz-box-shadow:    0px 5px 5px 3px #aaa;
  -webkit-box-shadow: 0px 5px 5px 3px #aaa;
  box-shadow:         0px 5px 5px 3px #aaa;
}

.rec-report-text {
  color: #999999;
  float: left;
}

.pass-fail-text {
  font-size: 1rem;
  color: #555555;
}

.suite-name {
  font-size: 1.5rem;
}

.all-reports-panel {
  background-color: #FFFFFF;
}

.paper-modal {
  z-index: 10000001;
  max-width: 75%;
  margin: auto;
  height: 100%;
}
